---
# Source: kubevirt-vm/templates/datavolume.yaml
apiVersion: v1
kind: ConfigMap
metadata:
  name: test-empty-cert
  namespace: default
data:
  ca.pem: ""
---
# Source: kubevirt-vm/templates/virtualmachine.yaml
apiVersion: kubevirt.io/v1
kind: VirtualMachine
metadata:
  labels:
    kubevirt.io/os: linux
    metallb-service: test
  namespace: default
  name: test
spec:
  runStrategy: Always
  template:
    metadata:
      creationTimestamp: null
      labels:
        kubevirt.io/domain: test
        kubevirt-service: test
        kubevirt-manager.io/managed: "true"
    spec:
      architecture: amd64
      domain:
        machine:
          type: q35
        clock:
          utc: {}
          
          timer:
            hpet:
              present: false
            pit:
              tickPolicy: delay
            rtc:
              tickPolicy: catchup
            kvm: {}
        features:
          kvm: {}
          acpi: {}
        cpu:
          model: host-passthrough
        memory:
          guest: 2Gi
          
        firmware:
          uuid: 5d307ca9-b3ef-428c-8861-06e72d69f223
          bootloader:
            efi:
              secureBoot: false
        devices:
          interfaces:
          - masquerade: {}
            model: virtio
            name: default
          autoattachPodInterface: true
          autoattachSerialConsole: true
          autoattachGraphicsDevice: true
          networkInterfaceMultiqueue: true
          rng: {}
          inputs:
          - type: tablet
            bus: virtio
            name: tablet1
          disks:
          - name: harddrive
            disk:
              bus: virtio
            bootOrder: 2
            errorPolicy: report
        resources:
          requests:
            memory: "2Gi"
            cpu: 200m
          limits:
            memory: "2Gi"
            cpu: 2
      networks:
        - name: default
          pod: {}
      terminationGracePeriodSeconds: 0
      priorityClassName: system-node-critical
      volumes:
        - containerDisk:
            image: quay.io/containerdisks/debian:13
          name: harddrive
