virtualMachine:
  name: windows10-boot
  namespace: windows10
  runStrategy: "Once"

  features:
    kvm:
      enabled: true
      hidden: false
    hyperv: true
    acpiEnabled: true

  clock:
    enabled: true
    timezone: utc
    hpet:
      enabled: true
      present: false
    pit:
      enabled: true
      tickPolicy: delay
    rtc:
      enabled: true
      tickPolicy: catchup
    kvm: true
    hyperv: true

  firmware:
    # Enable System Management Mode (required for secureboot)
    smmEnabled: false
    # -- Enable EFI bios and secureboot
    efi:
      enabled: false
      secureBoot: false
    uuid: 5d307ca9-b3ef-428c-8861-06e72d69f223

  machine:
    vCores: 4
    memory:
      base: 8Gi

disks:
  # Sysprepped disk with cloubase-init installed
  - name: harddrive
    type: disk
    bus: virtio
    bootorder: 2
    readonly: false
    pvc: windows10-sysprep
    ephemeral: true

service:
  - name: "windows10-boot-service"
    type: ClusterIP
    ports:
      - name: rdp-tcp
        port: 3389
        targetPort: 3389
        protocol: TCP
      - name: rdp-udp
        port: 3389
        targetPort: 3389
        protocol: UDP

ingress:
  enabled: false
  annotations: {}
  tls:
    enabled: false

cloudinit:
  enabled: true
  debug: false
  namespace: windows10
  cloudbase: true
  hostname: kubevirt-windows
  envsubst: true
  extraEnvVars:
    - name: USERNAME
      value: Runner
  groups:
    - cloud-users
  users:
    - name: Admin
      primary_group: Administrators
      passwd: random
    - name: $USERNAME
      gecos: "$USERNAME"
      primary_group: Users
      groups:
        - cloud-users
        - "Remote Desktop Users"
      passwd: random
      expiredate: 2027-10-01
  write_files:
    - path: 'C:\Program Files\Cloudbase Solutions\Cloudbase-Init\LocalScripts\install.ps1'
      permissions: '0644'
      content: |
        Set-ExecutionPolicy Bypass -Scope Process -Force; [System.Net.ServicePointManager]::SecurityProtocol = [System.Net.ServicePointManager]::SecurityProtocol -bor 3072; iex ((New-Object System.Net.WebClient).DownloadString('https://community.chocolatey.org/install.ps1'))
  runcmd:
    - 'powershell.exe -executionpolicy bypass -file "C:\Program Files\Cloudbase Solutions\Cloudbase-Init\LocalScripts\install.ps1"'
