---
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ .Values.secret_name }}-cloud-init-job
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "cloud-init.labels" . | nindent 4 }}
spec:
  backoffLimit: 3
  template:
    spec:
      restartPolicy: Never
      {{- if eq .Values.serviceAccount.create true }}
      serviceAccountName: {{ .Values.serviceAccount.name }}
      {{- end }}
      {{- if eq .Values.serviceAccount.create false }}
      serviceAccountName: {{ .Values.serviceAccount.existingServiceAccountName }}
      {{- end }}
      securityContext:
        runAsUser: 1000
      containers:
        - name: cloud-init
          image: {{ .Values.image }}
          env:
          - name: ARGOCD_APP_NAME
            value: {{ .Values.argocdAppName }}
          - name: NAMESPACE
            value: {{ .Values.namespace }}
          - name: SECRET_NAME
            value: {{ .Values.secret_name }}
          {{- with .Values.extraEnvVars }}
          {{- toYaml . | nindent 10 }}
          {{- end }}
          {{- if .Values.debug }}
          command: ["/bin/sleep", "365d"]
          {{- else }}
          command:
            - "/bin/bash"
            - "/home/appuser/cigen.sh"
            - "--userdata /secrets/user-data.yaml"
            - "--cloudbase {{ .Values.cloudbase }}"
            {{- if .Values.networkData.enabled }}
            - "--networkdata /secrets/network-data.yaml"
            {{- end }}
            - "--salt {{ .Values.salt }}"
            - "--envsubst {{ .Values.envsubst }}"
            - "--kubernetes true"
            - "--quiet false"
            - "--force {{ .Values.force }}"
            {{- if .Values.argocd.enabled }}
            - "--argo {{ .Values.argocd.enabled }}"
            - "--argo-app {{ .Values.argocd.appName }}"
            - "--argo-sync {{ .Values.argocd.syncString }}"
            - "--argo-compare {{ .Values.argocd.compare }}"
            {{- end }}
          {{- end }}
          imagePullPolicy: IfNotPresent
          resources:
            limits:
             cpu: 250m
             memory: 512M
            requests:
              cpu: 250m
              memory: 512M
          volumeMounts:
            - name: userdata
              mountPath: /secrets/user-data.yaml
              subPath: user-data.yaml
            {{- if .Values.networkData.enabled }}
            - name: networkdata
              mountPath: /secrets/network-data.yaml
              subPath: network-data.yaml
            {{- end }}
            - name: optimizer-script
              mountPath: /home/appuser/cigen.sh
              subPath: cigen.sh
            - name: secret-script
              mountPath: /home/appuser/secretgen.sh
              subPath: secretgen.sh
            {{- if .Values.wireguard }}
            {{- range $reg, $props := .Values.wireguard.interfaces }}
            {{- if $props.existingSecret }}
            - name: {{ $props.name }}
              mountPath: /secrets/{{ $props.name }}.conf
              subPath: {{ $props.name }}.conf
              readOnly: true
            {{- end }}
            {{- end }}
            {{- end }}
      volumes:
        - name: userdata
          configMap:
            name: {{ .Values.secret_name }}-userdata
            items:
              - key: user-data.yaml
                path: user-data.yaml
        - name: optimizer-script
          configMap:
            name: {{ .Values.secret_name }}-optimizer-script
            items:
              - key: cigen.sh
                path: cigen.sh
        - name: secret-script
          configMap:
            name: {{ .Values.secret_name }}-secret-script
            items:
              - key: secretgen.sh
                path: secretgen.sh
        {{- if .Values.networkData.enabled }}
        - name: networkdata
          configMap:
            name: {{ .Values.secret_name }}-userdata
            items:
              - key: network-data.yaml
                path: network-data.yaml
        {{- end }}
        {{- if .Values.wireguard }}
        {{- range $reg, $props := .Values.wireguard.interfaces }}
        {{- if $props.existingSecret }}
        - name: {{ $props.name }}
          secret:
            secretName: {{ $props.existingSecret.name }}
            items:
            - key: {{ $props.existingSecret.key }}
              path: {{ $props.name }}.conf
        {{- end }}
        {{- end }}
        {{- end }}
