replicaCount: 1

image: kubevirtmanager/kubevirt-manager:1.5.3

service:
  type: ClusterIP
  port: 8080
  protocol: TCP
  name: http

prometheus:
  enabled: false
  serviceName: "mimir-query-frontend"
  serviceNamesapce: "monitoring"
  port: 8080

ingress:
  enabled: false
  className: "nginx"
  hostname: "kubevirt.example.com"
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-staging"
    nginx.org/location-snippets: |
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection $connection_upgrade;
  tls:
    enabled: false
    secretName: "tls-kubevirt-manager"
