---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  labels:
    kubevirt.io: ""
  name: kubevirt-operator
  namespace: kubevirt
rules:
- apiGroups:
  - ""
  resourceNames:
  - kubevirt-ca
  - kubevirt-export-ca
  - kubevirt-virt-handler-certs
  - kubevirt-virt-handler-server-certs
  - kubevirt-operator-certs
  - kubevirt-virt-api-certs
  - kubevirt-controller-certs
  - kubevirt-exportproxy-certs
  resources:
  - secrets
  verbs:
  - create
  - get
  - list
  - watch
  - patch
  - delete
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - create
  - get
  - list
  - watch
  - patch
  - delete
- apiGroups:
  - route.openshift.io
  resources:
  - routes
  verbs:
  - create
  - get
  - list
  - watch
  - patch
  - delete
- apiGroups:
  - route.openshift.io
  resources:
  - routes/custom-host
  verbs:
  - create
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - get
  - list
  - watch
  - delete
  - update
  - create
  - patch
