apiVersion: cluster.x-k8s.io/v1beta2
kind: Cluster
metadata:
  name: {{ .Values.cluster.name }}
  namespace: {{ .Values.cluster.namespace }}
  labels:
    {{- range $reg, $props := .Values.helmCharts }}
    {{ $props.name }}: enabled
    {{- end }}
spec:
  clusterNetwork:
    apiServerPort: 6443
    serviceDomain: cluster.local
  controlPlaneRef:
    apiGroup: controlplane.cluster.x-k8s.io
    {{- if eq .Values.cluster.provider "rke2" }}
    kind: RKE2ControlPlane
    {{- end }}
    {{- if eq .Values.cluster.provider "kubeadm" }}
    kind: KubeadmControlPlane
    {{- end }}
    {{- if eq .Values.cluster.provider "k3s" }}
    kind: KThreesControlPlane
    {{- end }}
    name: {{ .Values.cluster.name }}-control-plane
  infrastructureRef:
    apiGroup: infrastructure.cluster.x-k8s.io
    kind: KubevirtCluster
    name: {{ .Values.cluster.name }}
