---
apiVersion: bootstrap.cluster.x-k8s.io/v1beta1
kind: KubeadmConfigTemplate
metadata:
  name: {{ .Values.cluster.name }}-md-0
  namespace: {{ .Values.cluster.namespace }}
spec:
  template:
    spec:
      joinConfiguration:
        nodeRegistration:
          {{- with .Values.cluster.kubeletExtraArgs }}
          kubeletExtraArgs:
            {{ toYaml . | nindent 12 }}
          {{- end }}

