---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  creationTimestamp: null
  labels:
    capk.cluster.x-k8s.io/template-kind: extra-resource
    cluster.x-k8s.io/cluster-name: {{ .Values.cluster.name }}
  name: kccm-sa
  namespace: {{ .Values.cluster.namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: kccm
subjects:
  - kind: ServiceAccount
    name: cloud-controller-manager
    namespace: {{ .Values.cluster.namespace }}
