---
apiVersion: cluster.x-k8s.io/v1beta2
kind: MachineDeployment
metadata:
  name: {{ .Values.cluster.name }}-md-0
  namespace: {{ .Values.cluster.namespace }}
spec:
  clusterName: {{ .Values.cluster.name }}
  replicas: {{ .Values.workers.size }}
  selector:
    matchLabels: null
  template:
    spec:
      bootstrap:
        configRef:
          apiGroup: bootstrap.cluster.x-k8s.io
          {{- if eq .Values.cluster.provider "rke2" }}
          kind: RKE2ConfigTemplate
          {{- end }}
          {{- if eq .Values.cluster.provider "k3s" }}
          kind: KThreesConfigTemplate
          {{- end }}
          name: {{ .Values.cluster.name }}-md-0
      clusterName: {{ .Values.cluster.name }}
      infrastructureRef:
        apiGroup: infrastructure.cluster.x-k8s.io
        kind: KubevirtMachineTemplate
        name: {{ .Values.cluster.name }}-md-0
      version: {{ .Values.cluster.version }}
