################################################################################
#      _       _       ____       _   _   _
#     | | ___ | |__   / ___|  ___| |_| |_(_)_ __   __ _ ___
#  _  | |/ _ \| '_ \  \___ \ / _ \ __| __| | '_ \ / _` / __|
# | |_| | (_) | |_) |  ___) |  __/ |_| |_| | | | | (_| \__ \
#  \___/ \___/|_.__/  |____/ \___|\__|\__|_|_| |_|\__, |___/
#                                                 |___/
################################################################################

# -- when enabled job sleeps to allow user to exec into the container
debug: false

# Add ArgoCD annotations to generated secrets (optional)
argocd:
  enabled: false
  # -- ArgoCD App name for optional resource tracking
  appName: "none"
  # -- String containing ArgoCD resource sync options
  syncString: "Prune=false,Delete=false"
  # -- String containing ArgoCD comparison options
  compare: IgnoreExtraneous

# -- secret in which to save the user-data file, must be unique within namespace
secret_name: my-userdata

# -- overwrite any existing secrets matching `secret_name`
force: true

# -- image version
image: deserializeme/kv-cloud-init:1.0.0

# -- virtual-machine hostname.
# When set to 'random' a hostname will be generated using golang-petname.
hostname: random

# -- namespace in which to create resources
namespace: default

# -- Choose weather to create a service-account or not. Once a SA has been created
# you should set this to false on subsequent runs, or use a uniqne name per vm.
serviceAccount:
  create: true
  name: my-service-account
  existingServiceAccountName: "some-other-sa"

# -- Run envsubst against user-data in the templated configmap during job run.
# Not an official part of cloid-init
envsubst: true

# -- Set extra environment variables for the job container.
extraEnvVars:
  - name: USERNAME
    value: friend
  #- name: FRIEND_PASSWORD
  #  valueFrom:
  #    secretKeyRef:
  #      name: admin-password
  #      key: password
  - name: macaddress
    value: 'b8:a3:86:70:cc:e6'

# set to 'true' use 'cloudbase-init' syntax for windows machines
# see https://cloudbase-init.readthedocs.io/en/latest/userdata.html and
# https://cloudbase-init.readthedocs.io/en/latest/services.html#nocloud-configuration-drive
# for a list of all supported values.
cloudbase: false

################################################################################
#   ____ _                 _ ___       _ _    __     __    _
#  / ___| | ___  _   _  __| |_ _|_ __ (_) |_  \ \   / /_ _| |_   _  ___  ___
# | |   | |/ _ \| | | |/ _` || || '_ \| | __|  \ \ / / _` | | | | |/ _ \/ __|
# | |___| | (_) | |_| | (_| || || | | | | |_    \ V / (_| | | |_| |  __/\__ \
#  \____|_|\___/ \__,_|\__,_|___|_| |_|_|\__|    \_/ \__,_|_|\__,_|\___||___/
#
##################################################################################

# Not all cloud-init modules are currently supported
# https://cloudinit.readthedocs.io/en/latest/reference/modules.html

# -- Set up mount points. mounts contains a list of lists.
# The inner list contains entries for an /etc/fstab line
mounts: []
  # - [ xvdh, /opt/data, auto, "defaults,nofail", "0", "0" ]

# -- creates a swap file using human-readable values.
swap:
  enabled: false
  filename: /swapfile
  size: 1G
  maxsize: 1G

disk_setup: []
  # -- The name of the device.
  #- name: /dev/vdb
  #  # -- This is a list of values, with the percentage of disk that
  #  # the partition will take. When layout is “true”, it instructs cloud-init
  #  # to single-partition the entire device. When layout is “false” it means
  #  # “don’t partition” or “ignore existing partitioning”.
  #  layout: true
  # # -- “false” is the default which means that the device will be checked for
  #  # a partition table and/or filesystem. “true” is cowboy mode, no checks.
  #  overwrite: false
  #  # -- Supported options ate `gpt` and `mbr`
  #  table_type: 'gpt'

fs_setup: []
  # -- The device name.
  #- device: /dev/vdb
  #  # -- The filesystem type. Supports ext{2,3,4} and vfat
  #  filesystem: ext4
  #  # -- The filesystem label to be used. If set to “None”, no label is used.
  #  label: None
  #  # -- Options are `auto|any`, `auto`, or `any`
  #  partition: 'auto|any'

# -- Dont recreate script configmap. Set to true when keeping multiple
# cloud-init secrets in the same namespace
existingConfigMap: false

# -- Disable root login over ssh
disable_root: false

# -- salt used for password generation
salt: "saltsaltlettuce"

# -- networking options
network:
  # --  disable cloud-init’s network configuration capability and rely on
  # other methods such as embedded configuration or other customisations.
  config: enabled

# -- add wireguard configuration from existing secret or as plain-text
# See https://cloudinit.readthedocs.io/en/latest/reference/modules.html#wireguard
wireguard:
  interfaces: []
  # Config from existing secret
  #  - name: wg0
  #    config_path: /etc/wireguard/wg0.conf
  #    source: secret
  #    existingSecret:
  #      name: wg0-credentials
  #      key: wg0.conf

  # Config from in-line content
  #  - name: wg1
  #    config_path: /etc/wireguard/wg1.conf
  #    source: content
  #    content: |
  #      [Interface]
  #      PrivateKey = sdasdasdasdasdasdasdasdasd
  #      Address = 10.1.0.253/32
  #      MTU = 1420
  #      [Peer]
  #      PublicKey = asdasdasdasdasdasdasdasdasdasd
  #      AllowedIPs = 10.1.0.0/24, 10.1.0.1/18
  #      Endpoint = 192.168.0.1:51821
  #      PersistentKeepalive = 20

# -- user configuration options
# See https://cloudinit.readthedocs.io/en/latest/reference/modules.html#users-and-groups
# You are advised NOT to use 'admin' as username for linux systems
# because it conflicts with multiple cloud-images default user configurations
# When using with cloudbase-init syntax the use of "Admin" as a username is fine.
users:
  - name: $USERNAME
    groups: users, admin, docker, sudo, kvm
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    lock_passwd: false

    # -- When set to 'random' a password will be generated for the user.
    # When empty "" we will look for an env-var named <$USERNAME>_PASSWORD
    # Passing plain-text passwords is not supported.
    passwd: "random"

    # -- import user ssh public keys from github, gitlab, or launchpad
    # See https://cloudinit.readthedocs.io/en/latest/reference/modules.html#ssh
    # ssh_import_id: []

    # -- provider user ssh pub key as plaintext
    # ssh_authorized_keys: []

# -- Add CA certificates
# See https://cloudinit.readthedocs.io/en/latest/reference/modules.html#ca-certificates
ca_certs: []
#  remove_defaults: true
#  trusted:
#    - certificate

# -- Run arbitrary commands early in the boot process
# See https://cloudinit.readthedocs.io/en/latest/reference/modules.html#bootcmd
boot_cmd: []

# -- Write arbitrary files to disk.
# Files my be provided as plain-text or downloaded from a url
# See https://cloudinit.readthedocs.io/en/latest/reference/modules.html#write-files
write_files: []
  #####################################
  # Download a file from a URL
  #- path: /home/${USERNAME}/runner.sh
  #  permissions: "0644"
  #  url: "https://raw.githubusercontent.com/small-hack/smol-metal/refs/heads/main/gha-runner.sh"

  #####################################
  # Download file with $TOKEN from extraEnvVars
  #- path: /etc/private-file.md
  #  permissions: "0644"
  #  url: "https://raw.githubusercontent.com/cloudymax/some-private-repo/refs/heads/main/some-file.md?token=${TOKEN}"

# -- Update, upgrade, and install package
# See https://cloudinit.readthedocs.io/en/latest/reference/modules.html#package-update-upgrade-install
package_reboot_if_required: false
package_update: true
package_upgrade: false
packages: []
  #- curl
  #- jq

# -- Run arbitrary commands
# See https://cloudinit.readthedocs.io/en/latest/reference/modules.html#runcmd
runcmd: []
  #- mkdir -p /home/${USERNAME}/shared
  #- chown ${USERNAME}:${USERNAME} /home/${USERNAME}/shared

# Provide instance networkData via the NoCloud networkData configuration source.
# When envSubst is enabled this file will also be templated.
# https://cloudinit.readthedocs.io/en/latest/reference/network-config-format-v1.html#network-config-v1
# https://cloudinit.readthedocs.io/en/latest/reference/network-config-format-v2.html#network-config-v2
networkData:
  enabled: false
  content: ""
