name: Lint & Test Cloudinit

on: 
  workflow_dispatch:
  pull_request:
    paths:
      - 'charts/cloud-init'
  
permissions:
  contents: read

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: "0"

      - name: Install Helm
        uses: azure/setup-helm@v4

      - name: Add dependency chart repos
        run: |
          helm repo add kubevirt https://cloudymax.github.io/kubevirt-community-stack
          
      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.6.1

      - name: Run chart-testing (lint)
        id: lint
        run: ct lint --target-branch ${{ github.event.repository.default_branch }}

      - uses: debianmaster/actions-k3s@master
        id: k3s
        with:
          version: 'latest'

      - name: Run chart-testing (install)
        id: install
        if: steps.list-changed.outputs.changed == 'true'
        run: |
          ct install --target-branch ${{ github.event.repository.default_branch }} \
          --helm-extra-set-args ''
